/* Reset Style */

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* Smooth scrolling for users that don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows and setting the color */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--L-Text);
}

/* -------------------General / Defaults----------------------- */

/* Adding Root colors for easy of use */

:root {
  --L-Text: #0d0d0d;
  --L-Background: #f2f2f2;
  --L-Primary: #2070bc;
  --L-Secondary: #abceec;
  --L-Gray: #7a7a7a;
  --L-Faded-Blue: rgba(32, 112, 188, 0.05);
}

/* Adding General sizes */

:root {
  --H1-Article: 3rem;
  --H2-Article: 2.25rem;
  --H3-Article: 2.75rem;
  --P-Article: 1.125rem;
  --Gap-elements: 1rem;
  --Border-Radius: 15px;
}

body {
  font-size: 16px;
  background: var(--L-Background);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--L-Text);
}

.site_logo {
  height: 2.5rem;
}

/* Font Styles */

/* xs - sm - md - lg - xl */

.xs_font {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.sm_font,
.sm_font-bold,
.sm_font-italic {
  font-size: 1rem;
  line-height: 1.5rem;
}

.sm_font-bold {
  font-weight: 700;
}

.sm_font-italic {
  font-style: italic;
}

.md_font,
.md_font-bold,
p {
  font-size: 1.125rem;
  line-height: 1.9rem;
  font-weight: 400;
}

.md_font-bold {
  font-weight: 700;
}

.lg_font,
h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
}

/* --------------------Header------------------------ */

.wrapper {
  padding: 0 165px;
}

.main_navigation {
  border-bottom: 1px solid var(--L-Text);
  height: 100%;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
}

/* Used multiple places */
.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  list-style: disc;
}

.nav_links li:first-of-type::marker {
  color: var(--L-Background);
}

.nav_links li::marker {
  color: var(--L-Primary);
}

.nav_links a {
  transition: all 0.2s ease;
}

.nav_links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: calc(var(--Gap-elements) * 2);
  color: var(--L-Primary);
  margin: 0 0.3rem;
}

/* ------------------Article--------------------- */

.content {
  width: 100%;
  min-height: 80vh;
  margin: var(--Gap-elements) 0 calc(var(--Gap-elements) * 2) 0;
}

.content_block {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content_block > section > h2 {
  margin-bottom: var(--Gap-elements);
}

.article {
  margin: 0 auto;
  width: 100%;
  max-width: 940px;
}

.inline_link {
  border-bottom: 1px solid var(--L-Primary);
  transition: all 0.2s ease;
}

.inline_link:hover {
  color: var(--L-Primary);
  border-bottom: none;
}

.link_hover {
  transition: all 0.2s ease;
}

.link_hover:hover {
  border-bottom: 1px solid var(--L-Primary);
  color: var(--L-Primary);
}

/* --------------Article Heading Content-------------- */

.article_heading {
  display: grid;
  gap: var(--Gap-elements);
  margin-bottom: var(--Gap-elements);
}

.breadcrumb {
  display: flex;
  list-style: none;
}

.heading_meta {
  display: flex;
  gap: var(--Gap-elements);
  color: var(--L-Gray);
}

.author a {
  font-style: normal;
}

/* ---------------Article Body Content-------------- */

.article_body {
  border-bottom: 1px solid var(--L-Gray);
}

.body_img {
  position: relative;
  margin: var(--Gap-elements) 0;
}

.body_img img {
  border-radius: var(--Border-Radius);
}

.enlarge_img {
  transition: all 1s ease;
}

.enlarge_img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.enlarge_img.clicked {
  transform: scale(1);
  z-index: 10;
  width: 100%;
  position: relative;
  grid-column: 1 / -1;
}

.img_caption {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--L-Background);
  padding: 0.5rem;
  text-shadow: 0 0 3px var(--L-Text);
}

.watermark {
  position: absolute;
  z-index: 30;
  bottom: 0.5rem;
  right: 1rem;
  opacity: 0.5;
}

/* ------------Key Points / Indholdsfortegnelse------- */

.key_points {
  width: 100%;
  height: auto;
  padding: 3rem;
  margin: calc(var(--Gap-elements) * 2) 0;
  background-color: var(--L-Faded-Blue);
  border-radius: var(--Border-Radius);
}

.key_points h3 {
  text-transform: uppercase;
  color: var(--L-Gray);
  padding-bottom: 2rem;
}

.key_points-content {
  padding-left: 1rem;
  border-left: 2px solid var(--L-Primary);
}

.key_points ul {
  list-style: disc;
  margin-inline-start: 8px;
}

.key_points ul::marker {
  color: var(--L-Primary);
}

.key_points ul li {
  margin: 0 0 0.75rem 0.75rem;
}

.custom_link {
  font-weight: 500;
  transition: all 0.15s ease;
}

.custom_link:hover {
  border-bottom: 1px solid var(--L-Primary);
  color: var(--L-Primary);
  margin-left: 0.5rem;
}

/* ---------------Accordion styling------------------ */

.accordion_content {
  border: 2px solid var(--L-Secondary);
  border-radius: var(--Border-Radius);
  margin: calc(var(--Gap-elements) * 2) 0 var(--Gap-elements) 0;
}

.accordion {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  background: var(--L-Background);
  border: none;
  border-radius: 13px;
  text-align: left;
  outline: none;
  transition: 0.2s;
}

.active,
.accordion:hover {
  background-color: var(--L-Secondary);
}

/* Icons */
.accordion:after {
  content: "\002B";
  color: var(--L-Primary);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the panel */
.panel {
  padding: 0 1rem;
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.6s ease-out;
}

.panel section {
  margin: var(--Gap-elements) 0;
}

/* Step Guide */

.step_guide-content {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 2rem;
  position: relative;
  overflow: visible;
}

.step_guide-content:nth-of-type(even) {
  grid-template-columns: 1.1fr 1fr;
}

.step_guide-content:nth-of-type(even) .step_guide-txt {
  order: 1;
}

.step_guide-content .step_guide-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}

.step_guide-txt span {
  color: var(--L-Primary);
  border-bottom: 2px solid var(--L-Primary);
}

.step_guide-content .img_caption {
  font-size: 0.6rem;
}

.img_box-shadow {
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 12px);
}

/* ---------------Article Footer Content-------------- */

/* TODO: Make buttons */

/* -----------------Main Footer Content---------------- */

.main_footer {
  background-color: var(--L-Primary);
}

.main_footer-content {
  background-color: var(--L-Primary);
  padding: 64px 0;
}

.footer_nav {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--L-Secondary);
  padding: 28px 0;
}

.footer_nav .logo {
  position: absolute;
  z-index: 30;
  top: 10px;
}

.footer_nav nav {
  width: 100%;
}

.footer_nav .nav_links a {
  color: var(--L-Background);
  letter-spacing: 0.1rem;
}

.footer_nav .nav_links a:hover {
  color: var(--L-Background);
}

.footer_nav .nav_links li:first-of-type::marker {
  color: var(--L-Primary);
}

.footer_nav .nav_links li::marker {
  color: var(--L-Secondary);
}

.footer_legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.footer_legal ul {
  display: flex;
  gap: var(--Gap-elements);
}

.footer_legal span,
.footer_legal a {
  color: var(--L-Secondary);
}

.footer_legal .link_hover:hover {
  border-bottom: 1px solid var(--L-Background);
  color: var(--L-Background);
}

/* ----------------------Media Queries---------------- */
